/* primary text color #757575 */
/* secondary text color #212121 */
/* text color contacts footer rgba(255, 255, 255, 0.6) */
/* accent text color #2196F3 */
/* white color #FFFFFF */
/* main background color #FFFFFF */
/* secondary background color #F5F4FA */
/* footer bbackgroung color #2F303A */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-bg-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

/* page header */
.page-header {
  border-bottom: 1px solid#ECECEC;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-part {
  color: var(--secondary-text-color);
}
.footer-logo-part {
  color: var(--primary-white-color);
}
.list {
  list-style: none;
}

/* site nav */
.site-nav .link {
  color: var(--secondary-text-color);
  font-style: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* .contacts-nav */
.contacts-nav a {
  color: var(--primary-text-color);
  text-decoration: none;
}
.contacts-nav a:hover,
.contacts-nav a:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--footer-bg-color);
  text-align: center;
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06;
  text-transform: uppercase;
}
/* features */
.features {
  margin-top: 0px;
  margin-bottom: 0px;
}
.features-list.list {
  margin-top: 0px;
  margin-bottom: 0px;
}
.features-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
.features-text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* our work*/
.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.section-list.list {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* our team */
.employee-name {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}
.employee-position {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}
/* portfolio products */
.products .title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.product-type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
/* button */
.button {
  font-family: inherit;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03;
}
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 10px 32px;
  width: 200px;
  height: 50px;
}
.link {
  text-decoration: none;
}

.link.list {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.btn-link {
  display: inline-block;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}
.btn-link:hover,
.btn-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* our team */
.team {
  background-color: var(--secondary-bg-color);
}

/* footer */
.page-footer {
  background-color: var(--footer-bg-color);
}
.address {
  color: var(--primary-white-color);
  text-decoration: none;
}
